@font-face {
    font-family: "roboto-mono";
    src: url("fonts/roboto-mono/static/RobotoMono-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "roboto-mono";
    src: url("fonts/roboto-mono/static/RobotoMono-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "upheaval";
    src: url("fonts/upheaval/upheaval.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "8bit-wonder";
    src: url("fonts/8bit-wonder/8bit-wonder.ttf");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#big-name{
    background-image : url("../images/pixel-city.png");
    background-position: center 15%;
    padding-top: 5%;
    padding-bottom: 6%;
    text-align: center;
}

#main-content {
    margin-top: 15pt;
    margin-bottom: 15pt;
    padding-left: 6%;
    padding-right: 6%;
}

.section {
    padding-bottom: 30pt;
}

.default-img {
    min-width: 200px;
    max-width: 800px;
    width: 25%;
    height: auto;
    padding-top: 12px;
    margin-left: 25px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#me-img {
    float: right;
    min-width: 200px;
    max-width: 800px;
    width: 25%;
    height: auto;
    padding-top: 12px;
    margin-left: 25px;
}

#is-poster-img {
    max-width: 90%;
    max-height: 500pt;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15pt;
}

h1 {
    font-family: "8bit-wonder";
    font-size: 4.5vw;
    color: white;
}

h2 {
    font-family: "roboto-mono";
    font-size: 28pt;
    margin-bottom: 10pt;
}

h3 {
    font-family: "roboto-mono";
    font-size: 22pt;
    margin-bottom: 10pt;
}

p, ul, td {
    font-family: "roboto-mono";
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 15pt;
}

ul {
    padding-left: 5%;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    border-color: black;
}

tr:nth-child(even) {
    background-color: #c6c3c3;
}