@font-face {
    font-family: "roboto-mono";
    src: url("fonts/roboto-mono/static/RobotoMono-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "roboto-mono";
    src: url("fonts/roboto-mono/static/RobotoMono-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "upheaval";
    src: url("fonts/upheaval/upheaval.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "8bit-wonder";
    src: url("fonts/8bit-wonder/8bit-wonder.ttf");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#big-name{
    background-image : url("../images/pixel-city.png");
    background-position: center 10%;
    padding-top: 8%;
    padding-bottom: 8%;
    text-align: center;
}

h1 {
    font-family: "8bit-wonder";
    font-size: 4.5vw;
    color: white;
}

p {
    font-family: "roboto-mono";
    font-weight: normal;
    font-size: 22pt;
}
